.u-block-3a95-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-3a95-3 {
  position: absolute;
  left: 0;
}

.u-block-3a95-4 {
  position: absolute;
  right: 0;
}

 .u-section-1-1 {
  background-image: none;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 699px;
}

.u-section-1-1 .u-layout-wrap-1 {
  margin-top: 40px;
  margin-bottom: 0;
}

.u-section-1-1 .u-layout-cell-1 {
  min-height: 659px;
}

.u-section-1-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 106px -127px 0 30px;
}

.u-section-1-1 .u-text-2 {
  margin: 13px 30px 0;
}

.u-section-1-1 .u-image-1 {
  min-height: 659px;
  background-image: url("images/IMG_0200.JPG");
  background-position: 50% 50%;
}

.u-section-1-1 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 560px;
  }

  .u-section-1-1 .u-layout-cell-1 {
    min-height: 543px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 4.5rem;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1-1 .u-image-1 {
    min-height: 543px;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 450px;
  }

  .u-section-1-1 .u-layout-cell-1 {
    min-height: 416px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1-1 .u-image-1 {
    min-height: 416px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 731px;
  }

  .u-section-1-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1-1 .u-image-1 {
    min-height: 624px;
  }

  .u-section-1-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-1-1 .u-image-1 {
    min-height: 393px;
  }
}.u-block-4fcf-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-4fcf-3 {
  position: absolute;
  left: 0;
}

.u-block-4fcf-4 {
  position: absolute;
  right: 0;
}

.u-section-2-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-2-1 .u-text-1 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 4px;
  width: 239px;
  margin: 60px auto 0;
}

.u-section-2-1 .u-text-2 {
  font-weight: 700;
  font-size: 3rem;
  margin: 20px 0 0;
}

.u-section-2-1 .u-btn-1 {
  border-style: solid;
  background-image: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 36px auto 60px;
  padding: 10px 40px;
}

@media (max-width: 1199px) {
  .u-section-2-1 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-2-1 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-2-1 .u-sheet-1 {
    min-height: 380px;
  }
}

@media (max-width: 575px) {
  .u-section-2-1 .u-sheet-1 {
    min-height: 239px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 92px;
}

.u-section-3 .u-text-1 {
  margin: 20px auto;
}.u-section-4 .u-sheet-1 {
  min-height: 585px;
}

.u-section-4 .u-text-1 {
  font-size: 1.25rem;
  margin: 60px auto 0;
}

.u-section-4 .u-gallery-1 {
  height: 396px;
  width: 706px;
  margin: 30px auto 60px;
}

.u-section-4 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-4 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-1 {
  background-image: none;
  padding: 30px;
}

.u-section-4 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-2 {
  background-image: none;
  padding: 30px;
}

.u-section-4 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-3 {
  background-image: none;
  padding: 30px;
}

.u-section-4 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-4 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 767px) {
  .u-section-4 .u-gallery-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 571px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 53px;
  }

  .u-section-4 .u-gallery-1 {
    width: 340px;
    margin-bottom: 53px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 749px;
}

.u-section-5 .u-text-1 {
  width: 746px;
  font-size: 1.125rem;
  margin: 77px auto 0;
}

.u-section-5 .u-gallery-1 {
  height: 423px;
  margin-top: 96px;
  margin-bottom: 60px;
  grid-gap: 17px 17px;
}

.u-section-5 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 17px;
}

.u-section-5 .u-over-slide-1 {
  background-image: none;
  padding: 20px;
}

.u-section-5 .u-over-slide-2 {
  background-image: none;
  padding: 20px;
}

.u-section-5 .u-over-slide-3 {
  background-image: none;
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 675px;
  }

  .u-section-5 .u-gallery-1 {
    height: 349px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1128px;
  }

  .u-section-5 .u-text-1 {
    width: 720px;
  }

  .u-section-5 .u-gallery-1 {
    height: 802px;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2093px;
  }

  .u-section-5 .u-text-1 {
    width: 540px;
    font-size: 1rem;
  }

  .u-section-5 .u-gallery-1 {
    height: 1805px;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1418px;
  }

  .u-section-5 .u-text-1 {
    width: 340px;
    font-size: 1.25rem;
  }

  .u-section-5 .u-gallery-1 {
    height: 1136px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 781px;
}

.u-section-6 .u-gallery-1 {
  width: 507px;
  height: 673px;
  grid-gap: 10px 10px;
  margin: 26px auto 0 107px;
}

.u-section-6 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-6 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-6 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-6 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-6 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-6 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-6 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-6 .u-over-slide-4 {
  min-height: 100px;
  padding: 10px;
}

.u-section-6 .u-carousel-thumbnails-1 {
  padding-top: 10px;
}

.u-section-6 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-6 .u-carousel-thumbnail-2 {
  width: 100px;
  height: 100px;
}

.u-section-6 .u-carousel-thumbnail-3 {
  width: 100px;
  height: 100px;
}

.u-section-6 .u-carousel-thumbnail-4 {
  width: 100px;
  height: 100px;
}

.u-section-6 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  right: auto;
}

.u-section-6 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-6 .u-text-1 {
  font-size: 1.25rem;
  margin: -404px 0 60px auto;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    margin-top: -314px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-1 {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-gallery-1 {
    margin-left: 33px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 863px;
  }

  .u-section-6 .u-gallery-1 {
    margin-top: 128px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-carousel-thumbnail-4 {
    width: 78px;
    height: 78px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 23px;
    margin-right: auto;
    margin-bottom: 17px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 854px;
}

.u-section-7 .u-gallery-1 {
  height: 755px;
  width: 609px;
  margin: 1px auto 0 155px;
}

.u-section-7 .u-carousel-indicators-1 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: -35px;
}

.u-section-7 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-7 .u-over-slide-1 {
  background-image: none;
  padding: 30px;
}

.u-section-7 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-7 .u-over-slide-2 {
  background-image: none;
  padding: 30px;
}

.u-section-7 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-7 .u-over-slide-3 {
  background-image: none;
  padding: 30px;
}

.u-section-7 .u-carousel-control-1 {
  position: absolute;
  left: -81px;
  width: 40px;
  height: 40px;
  right: auto;
}

.u-section-7 .u-carousel-control-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: -78px;
}

.u-section-7 .u-text-1 {
  font-size: 1.25rem;
  margin: -389px 0 60px auto;
}

@media (max-width: 1199px) {
  .u-section-7 .u-text-1 {
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-gallery-1 {
    margin-left: 111px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-gallery-1 {
    width: 540px;
    margin-top: -63px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-gallery-1 {
    margin-top: 1px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-text-1 {
    width: auto;
    margin-top: 50px;
    margin-right: auto;
    margin-bottom: 26px;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 530px;
}

.u-section-8 .u-text-1 {
  margin: 21px auto 0;
}

.u-section-8 .u-layout-wrap-1 {
  width: 1140px;
  margin: 28px 0 60px;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-8 .u-container-layout-1 {
  padding: 20px;
}

.u-section-8 .embed-responsive-1 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-8 .u-container-layout-2 {
  padding: 20px;
}

.u-section-8 .embed-responsive-2 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 460px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 383px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 890px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 608px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 340px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 740px;
}

.u-section-9 .u-text-1 {
  font-size: 1.25rem;
  margin: 47px auto 0;
}

.u-section-9 .u-video-1 {
  height: 553px;
  margin-top: 55px;
  margin-bottom: 60px;
}

.u-section-9 .embed-responsive-1 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

@media (max-width: 991px) {
  .u-section-9 .u-video-1 {
    height: 404px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 662px;
  }

  .u-section-9 .u-video-1 {
    height: 310px;
  }

  .u-section-9 .embed-responsive-1 {
    width: 182%;
    left: -41%;
    height: 100%;
    top: 0%;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-video-1 {
    height: 200px;
  }

  .u-section-9 .embed-responsive-1 {
    width: 289%;
    left: -95%;
  }
} .u-section-10 {
  background-image: none;
}

.u-section-10 .u-sheet-1 {
  min-height: 663px;
}

.u-section-10 .u-text-1 {
  font-size: 1.25rem;
  margin: 26px auto 0;
}

.u-section-10 .u-layout-wrap-1 {
  margin-top: 79px;
  margin-bottom: 60px;
}

.u-section-10 .u-layout-cell-1 {
  min-height: 451px;
}

.u-section-10 .u-container-layout-1 {
  padding: 20px;
}

.u-section-10 .embed-responsive-1 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

.u-section-10 .u-layout-cell-2 {
  min-height: 451px;
}

.u-section-10 .u-container-layout-2 {
  padding: 20px;
}

.u-section-10 .embed-responsive-2 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 593px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 372px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 372px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 516px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 285px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 285px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 1023px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 428px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 428px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 741px;
  }

  .u-section-10 .u-text-1 {
    width: auto;
    margin-top: 30px;
    margin-left: 62px;
  }

  .u-section-10 .u-layout-wrap-1 {
    margin-top: 75px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 269px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 269px;
  }
}.u-section-11 .u-sheet-1 {
  min-height: 158px;
}

.u-section-11 .u-social-icons-1 {
  height: 48px;
  min-height: 16px;
  width: 106px;
  min-width: 42px;
  margin: 60px auto 50px;
}

.u-section-11 .u-icon-1 {
  color: rgb(59, 89, 152) !important;
  height: 100%;
}

.u-section-11 .u-icon-2 {
  height: 100%;
  color: rgb(65, 118, 250) !important;
}
